/*
 *  Filename: styles.css
 *  Description: Appearance configuration the cylindrical display preview.
 *
 *  Version: 2024.11
 *  Author: Nico Reski
 *  GitHub: https://github.com/nicoversity
 */

/* body {
    margin: 200px;
} */

#threejs-canvas {
    display: block;
    margin: auto; /* adjust top margin as needed */
    border: none;
    background: transparent;
    max-width: 1300px;
    width: 100%;
}